* {
  box-sizing: border-box;
}
img{
  width:100%;
}
body{
  background-color:#eee !important;
  width:100%;
  height:100vh;
}
.contain{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:20px 0 50px;

}
.weather_title{
  width:100%;
  position:sticky;
  left:0;
  top:0;
  text-align:center;
  padding-top:10px;
  font-size:2em;
  color:#25478C;
  font-weight: 600;
}
.weather-box{
  margin:10px 0;
  padding:40px 0;
  width:90%;
  overflow: hidden;
  text-align:center;
  background:#fff;
  border-radius: 30px;
}
.weather-image{
  width:150px;
  background:#f7f7f7;
  border-radius: 100%;
  overflow: hidden;
  margin:5% auto;
  padding:15px;
}
.weather-image img{
  width:100%;
}
.weather-name,
.weather-temp{
  color:#222;
}
.weather-name{
  font-size:1em;
  line-height: 1;
  font-weight: 700;
}
.weather-temp{
  padding:0;
  font-weight: 700;
  font-size: 2.2em;
}
.weather-tempInfo{
  display: flex;
  gap:10px;
  justify-content: center;
  padding-bottom:5%;
}
.weather-dec{
  font-weight: 400;
  font-size: 1em;
}
.weather_feels,
.weather_humidity{
  font-weight: 400;
  font-size: 0.8em;
}
.red{
  color:#f22441;
}
.blue{
  color: #25478C;
}
.button_wrap{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_list{
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0;
  text-align:center;
  margin: 0;
  background:#fff;
  border-radius: 30px;
  overflow: hidden;
}
.button_wrap li{
  width:20%;
  list-style: none;
  padding:0;
  border-radius: 30px;
  padding:10px 0;
  font-weight: 400;
  cursor: pointer;
  list-style: none;
}
.button_wrap li.active{
  background:#25478C;
  color:#fff;
  font-weight: 600;
}

@media (max-width:500px) {
  .button_wrap li{
    font-size: 3vw;
  }
}
.weatherContents{
  width:90%;
}
.weatherWeek-title{
  font-size:1em;
  margin:20px 0 10px;
  text-align:left;
}
.weatherWeek-box{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding:0;
  margin:0;
  gap:10px;
}
.weatherWeek-box li{
  width:20%;
  background:#fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px 5px;
}
.weatherWeek-day{
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dayIdx{
  font-size:0.8rem;
  font-weight: 400;
}
.weatherWeek-images{
  background-color: #f7f7f7;
  border-radius: 100%;
  padding:10px;
  width:50px;
  height: 50px;
  margin:10px 0;
}
.weatherWeek-temp{
  font-size:1em;
  font-weight: 700;
  margin-bottom:5%;
} 