body{
  background-image: url('https://img.freepik.com/free-vector/sun-light-with-clouds-sky-background_1017-38299.jpg');
  width:100%;
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrap{

}
.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}
.weather-box{
  background:#fff;
  box-sizing: border-box;
  padding:10%;
  border-radius: 30px;
  overflow: hidden;
  text-align:center;
}